[submodule "Ramses-Blender"]
	path = Ramses-Blender
	url = https://github.com/RxLaboratory/Ramses-Blender.git
[submodule "Ramses-Ae"]
	path = Ramses-Ae
	url = https://github.com/RxLaboratory/Ramses-Ae.git
[submodule "Ramses-Client"]
	path = Ramses-Client
	url = https://github.com/RxLaboratory/Ramses-Client.git
[submodule "Ramses-Server"]
	path = Ramses-Server
	url = https://github.com/RxLaboratory/Ramses-Server.git
[submodule "Ramses-Maya"]
	path = Ramses-Maya
	url = https://github.com/RxLaboratory/Ramses-Maya.git
[submodule "Ramses-Py"]
	path = Ramses-Py
	url = https://github.com/RxLaboratory/Ramses-Py.git
