a {
    color: #a526c4;
}
a:hover {
    color: #710132;
}

hr {
    height: 3px;
    border: none;
    background-color: #D3D3D3;
}

body {
    background-color: #434343;
    font-size: 1.3em;
}

.navbar-default {
    border-bottom: 0;
    background-color: #333;
}

.bs-sidebar {
    background-color: #e3e3e3;
    box-shadow: 1px 4px 7px #232323;
    border-radius: 10px;
    border: none;
}

.bs-sidenav {
    background: none;
}

.col-md-9 {
    background-color: #e3e3e3;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 7px #131313;
}

pre {
    background: none;
    border: none;
}

pre code {
    border-radius: 10px;
}

ul.nav li.second-level {
    font-weight: bold;
}

ul.nav li.active {
    background-color: #f1f1f1;
}

.post-meta {
    font-size: 0.8em;
    background-color: #535353;
    color: #c3c3c3;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.post-meta a {
    color: #fff;
}

.post-meta li::marker {
    content: "▹\00a0";
}

.meta-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}